<div class="carousel slide" data-ride="carousel">
  <div class="carousel-innner">
    <div class="carousel-item active">
      <img class="d-block w-100" alt="First slide" src="img_about_page.png">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" alt="First slide" src="home_background.png">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" alt="First slide" src="book_brown.png">
    </div>
  </div>
</div>
