.carousel.slide[data-ride="carousel"]
  .carousel-innner
    .carousel-item.active
      img.d-block.w-100[alt="First slide" src="img_about_page.png"]
    .carousel-item.active
      img.d-block.w-100[alt="First slide" src="home_background.png"]
    .carousel-item.active
      img.d-block.w-100[alt="First slide" src="book_brown.png"]
