p
  = @user.name
  | さん
p 下記リンクをクリックすると、パスワード再設定用のページに飛びます。
= link_to "パスワードの再設定をする", edit_password_reset_url(@user.reset_token, email: @user.email)

p ログインパスワード再設定のお申し込みから２時間を経過しますと、このリンクの有効期限が切れます。
p リンク切れとなった場合は、再度ログインパスワードの再設定手続きを行ってください。
p  
p  
p ※このメールは、Book Sharingにご登録いただき、かつログインパスワード再設定手続きを行った方にお送りしています。
p ※本メールにお心当たりのない方は、恐れ入りますが、aan@example.comまでご連絡ください。
